{% extends 'base.html.twig' %}

{% block body %}
    <h1>Category edit</h1>

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    {{ form_end(edit_form) }}

    <div class="ws"></div>

    {{ form_start(delete_form) }}
    <button onclick="document.forms['booksbundle_category'].submit()" class="btn btn-success" type="button">Save</button>
    <input type="submit" value="Delete" class="btn btn-danger">
    <button onclick="location='{{ path('category_index') }}'" class="btn btn-primary" type="button">Back to the list of categories</button>
    {{ form_end(delete_form) }}

{% endblock %}
